
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 256;
  color: black;
  background-color: white;
  /* border: 2px solid cyan; */


  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

#root {
  min-width: 100%;
  padding: 5px;
  /* border: solid yellow 2px; */
}

main {
  display: flex;
  flex-direction: column;
  
  /* align-items: center; */
   /* width: 100%; */
  /* min-height: 100vh; */
  /* margin: 0px auto; */
  /* border: 2px solid black; */

}

  nav {
    /* width: 100%; */
    height: 68px;
    /* background-image: linear-gradient(rgba(128, 74, 128, 1), rgba(128, 74, 128, 0.95), rgba(128, 74, 128, 0.9), rgba(128, 74, 128, 0.75)); */
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border: 1px solid black;
  }

    nav img {
      width: 48px; 
      height: 48px; 
      margin: 0 16px 0 0;
      cursor: pointer;
    }

    .nav-menu-button {
      width: 96px;
      height: 44px;
      margin: 0px 8px;
      /* border: 1px solid black; */
    }

      .nav-menu-button::before{content: "Menu"; margin: 4px 4px 4px 0px;}

      #collapse-nav-menu ul {
        list-style: none;
        text-align: left;
        position: relative; 
        right: 10px;
        /* top: 50px; */
      }

    /* #collapse-nav-menu a {font-weight: bold; font-size: 18px;} */

      #collapse-nav-menu li {margin: 5px 0;}

    .nav-title {
      margin: auto 0px;
      flex: 1 1 100px;
      min-width: 320px;
    }

      .nav-title-url {
        color: black;
        font-size: 24px; 
        line-height: 24px;
        font-weight: 768;
      }

    .nav-buttons {
      display: flex;
      /* border: 2px dashed brown; */
    }

      .nav-button {
        width: 80px;
        height: 40px;
        margin: auto 10px;
        text-align: center;
        white-space: nowrap;
        border: 1px solid black;
      }

  header {
    height: 80px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0px;
  }

    h1 {
      font-size: 48px; 
      font-weight: 768;
      font-family: cursive;
      margin: 10px 0px 0px 0px;
    }

  #main-content-container {
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 16px;
    /* width: 100%; */
    /* border: 2px solid red; */
    /* border-bottom: 2px solid grey; */
  }

    .sus-colors-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 16px;
      flex-grow: 1;
      /* border: 3px solid green; */
    }

        .sus-colors-button {
          width: 290px;
          font-size: 18px;
        }

        .sus-colors-button-container li {
          font-size: 18px;
        }

      .sus-color-boxes-container {
        max-width: 384px;
        margin-bottom: 10px;
        background-color: white;
        /* margin: 0px 0px; */
        /* border: 2px solid yellow; */
      }

        .sus-color-box-container {
          padding: 5px;
          background-color: white;
          border: 1px solid grey;
        }

          .sus-color-box {
            display: flex; 
            flex-direction: column; 
            justify-content: center;
            height: 96px; width: 96px;
            font-weight: 512;
            margin: 16px auto;
            border: 1px solid grey;
            cursor: pointer;
          }

          .sus-color-box:hover {
            transform: scale(1.08);
            border: 1px solid black;
          }

    #color-section-container {
      display: flex;
      flex-direction: column;
      min-width: 588px;
      padding: 16px 0px;
      /* border: 1px solid black; */
    }

      #color-section-header p {
        font-size: 20px;
      }

      #color-boxes {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        width: 100%;
        /* border-top: 2px grey solid; */
        background-color: white;
      }

        .color-box-container {
          display: flex;
          flex-direction:column;
          line-height: 16px;
          align-items: flex-start;
          margin: 0px;
          width: 256px;
          background-color: white;
          padding: 24px 0px 24px 0px;
          /* border: 2px orange solid */
        }

          .color-box-container > p {
            margin: 16px 0px 0px 0px;
          }

          .color-box-container > h4, h5 {
            align-self: center;
            margin: 8px 0px 0px 0px;
          }

          .color-box {
            width: 128px;
            height: 128px;
            align-self: center;
            border: 1px solid transparent;
            cursor: pointer;
            border-radius: 8px;
          }

          .color-box:hover {
            transform: scale(1.04);
            border: 1px solid black;
          }

  #prediction-messages-container {
    padding: 0 0 10px 0;
    /* border-top: 2px grey solid; */
  }
    #prediction-messages-container p {
      font-size: 20px;
      font-weight: 512;
      margin: 2px;
    }

  #favorite-color-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    /* border-top: 2px grey solid; */
  }
  
    .favorite-color-button {
      margin: 10px 0px;
      padding: 5px 5px;
    }
  
      .button-span {
        display: block;
        font-size: 18px;
      }

  #graph-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border-top: 2px grey solid; */
  }

  #favorite-colors-container {
    padding: 10px 10px 0px 10px;
    width: fit-content;
    align-self: center;
    background-color: white;
    border: 1px solid black;

  }

    #favorite-color-boxes-container {
      display: flex;
      justify-content: space-between;
      width: 1000px;
      margin: 10px auto;
      background-color: white;
      padding: 20px 20px;
      /* border: 1px solid orange; */
    }

      .favorite-color-box {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        height: 96px; width: 96px;
        font-weight: 512;
        border: 1px solid grey;
      }
        .favorite-color-box:hover {
          transform: scale(1.08);
          border: border: 1px solid black;
        }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 420px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
  }

    .modal-inner{
      width: 290px;
      margin: 0 auto;
    }

    .modal-inner-loading{
      text-align: center;
    }

    /* modal buttons */

    .close-modal-btn-container{
      text-align: right;
      margin: 9px;
    }

    .modal-close-btn {
      font-size: 22px;
      font-weight: bold;
      background-color: transparent;
      border: 1px solid transparent;
      color: whitesmoke;
    }

    .modal-close-btn:hover,
    .modal-close-btn:active{
      color: red;
      cursor: pointer;
    }

    .modal-close-btn:disabled{
      color: whitesmoke;
      opacity: 0.2;
      cursor: not-allowed;
    }

    .modal-choice-btns{
      margin-top: 10px;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
    }

    .modal-btn{
      padding: 10px 24px;
      cursor: pointer;
    }

/* modal input */

input{
  margin-top: 10px; 
  border: 1px solid #212529;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

/* modal after submit */

.loading{
  width: 100%; 
  margin-top: 10px;
}

.modal-display-name{
  color: fuchsia;
}

.modal-text{
  height: 140px;
  line-height: 23px;
  margin-bottom: 0;
}


a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
 
button {
  font-size: 1em;
  font-weight: 512;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
  margin: 0px 0px 8px 0px;
  padding: 8px;
  box-shadow: 2px 2px 4px 0px rgba(41, 41, 41, 0.9);
  border: 2px solid lightgrey;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.16s;
}
  button:hover {
    border-color: black;
    transform: scale(1.04);
  }



